<main class="index-page container-fluid">

<div class="row description-row">
	<div class="col-lg-6 description-list">
		<h1>Our Features</h1>
		<ul>
			<li><mark>Add new items</mark> <i class="fas fa-plus"></i></li>
			<li><del>Mark items as done</del> <i class="fas fa-check"></i></li>
			<li style="opacity: 0.6;">Remove items <i class="fas fa-times"></i></li>
			<li><ins>Edit items</ins> <i class="fas fa-edit"></i></li>
		</ul>
		<a href="/mylist">
			<div class="app-button">
				Use App
			</div>
		</a>
	</div>
	
	<div class="col-lg-6 description-image">
		<img src="/images/list.png">
	</div>
</div>

</main>


<link rel='stylesheet' href='/stylesheets/index.css' />
<script type="text/javascript" src="/javascripts/index.js"></script>