<main class="mylist-page container-fluid">

<div class="row mylist-row">

<div class="list-sidebar active" id="list-sidebar-wrapper">
	<i class="fas fa-bars" id="sidebar-toggle"></i>
	<div id="list-sidebar">
		<h3>Choose Category</h3>
		<ul>
			<li class="active" id="All">
				<a onclick="showAllItems('All')">
					<i class="fas fa-clipboard-list sidebar-icon"></i>
					<span class="sidebar-category">All</span>
				</a>
			</li>
			<li id="Pending">
				<a onclick="showAllItems('Pending')">
					<i class="fas fa-bullseye sidebar-icon"></i>
					<span class="sidebar-category">Pending</span>
				</a>
			</li>
			<li id="Done">
				<a onclick="showAllItems('Done')">
					<i class="fas fa-check-square sidebar-icon"></i>
					<span class="sidebar-category">Done</span>
				</a>
			</li>
			<li id="Deleted">
				<a onclick="showAllItems('Deleted')">
					<i class="fas fa-times-circle sidebar-icon"></i>
					<span class="sidebar-category">Deleted</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="list-div" id="list-div">

	<ul id="list">
		<!--<li id="1">Create a new webpage<span class="cross"><i class="fas fa-times-circle"></i></span></li>
		<li id="2" class="checked">Learn HTML<span class="cross"><i class="fas fa-times-circle"></i></span></li>
		<li id="3">Learn CSS<span class="cross"><i class="fas fa-times-circle"></i></span></li>
		<li id="4">Learn JavaScript<span class="cross"><i class="fas fa-times-circle"></i></span></li>
		<li id="5">Learn NodeJs<span class="cross"><i class="fas fa-times-circle"></i></span></li>-->
	</ul>

	<div class="list-new">
		<input type="text" id="list-new-input" placeholder="Add new item...">
		<span onclick="addElement()" id="list-new-button" class="addBtn">Add</span>
	</div>

</div>

</div>

</main>


<link rel="stylesheet" type="text/css" href="/stylesheets/mylist.css">
<script type="text/javascript" src="/javascripts/mylist.js"></script>